h1 {
    color: #c71a22;
    font-family: 'Playball', cursive;
    font-size: 500%;
}

h2 {
  color: #000000;
  font-family: 'Lato', sans-serif;
}

p {
  color: #000000;
  font-family: 'Lato', sans-serif;
}
